-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: bdconcurrencia
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `bdconcurrencia`
--

/*!40000 DROP DATABASE IF EXISTS `bdconcurrencia`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `bdconcurrencia` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `bdconcurrencia`;

--
-- Table structure for table `cuentas`
--

DROP TABLE IF EXISTS `cuentas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cuentas` (
  `id` int unsigned NOT NULL,
  `saldo` decimal(11,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `cuentas_chk_1` CHECK ((`saldo` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuentas`
--

LOCK TABLES `cuentas` WRITE;
/*!40000 ALTER TABLE `cuentas` DISABLE KEYS */;
INSERT INTO `cuentas` VALUES (1,1000.00),(2,2000.00),(3,0.00);
/*!40000 ALTER TABLE `cuentas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `credito`
--

/*!40000 DROP DATABASE IF EXISTS `credito`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `credito` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `credito`;

--
-- Table structure for table `consumo`
--

DROP TABLE IF EXISTS `consumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `consumo` (
  `cuentano` varchar(11) DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  `tiendano` smallint DEFAULT NULL,
  `movimiento` char(1) DEFAULT NULL,
  `importe` smallint DEFAULT NULL,
  KEY `cuentano` (`cuentano`),
  KEY `tiendano` (`tiendano`),
  CONSTRAINT `consumo_ibfk_1` FOREIGN KEY (`cuentano`) REFERENCES `cuenta` (`cuentano`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `consumo_ibfk_2` FOREIGN KEY (`tiendano`) REFERENCES `tienda` (`tiendano`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consumo`
--

LOCK TABLES `consumo` WRITE;
/*!40000 ALTER TABLE `consumo` DISABLE KEYS */;
/*!40000 ALTER TABLE `consumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cuenta`
--

DROP TABLE IF EXISTS `cuenta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cuenta` (
  `cuentano` varchar(11) NOT NULL DEFAULT '',
  `empno` smallint DEFAULT NULL,
  `estatus` char(1) DEFAULT NULL,
  `factivacion` date DEFAULT NULL,
  PRIMARY KEY (`cuentano`),
  KEY `empno` (`empno`),
  CONSTRAINT `cuenta_ibfk_1` FOREIGN KEY (`empno`) REFERENCES `empleado` (`empno`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuenta`
--

LOCK TABLES `cuenta` WRITE;
/*!40000 ALTER TABLE `cuenta` DISABLE KEYS */;
/*!40000 ALTER TABLE `cuenta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `depto`
--

DROP TABLE IF EXISTS `depto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `depto` (
  `deptono` smallint NOT NULL DEFAULT '0',
  `dnombre` varchar(30) DEFAULT NULL,
  `loc` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`deptono`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `depto`
--

LOCK TABLES `depto` WRITE;
/*!40000 ALTER TABLE `depto` DISABLE KEYS */;
INSERT INTO `depto` VALUES (1,'SISTEMAS','MEXICO'),(2,'CONTABILIDAD','MEXICO'),(3,'VENTAS','MEXICO'),(4,'ESPECIALES','TOLUCA'),(5,'PROMOCIONES','MEXICO'),(6,'CAJAS','TOLUCA'),(7,'ATENCION A CLIENTES','MEXICO'),(8,'ALMACEN','MEXICO');
/*!40000 ALTER TABLE `depto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleado`
--

DROP TABLE IF EXISTS `empleado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empleado` (
  `empno` smallint NOT NULL DEFAULT '0',
  `epaterno` varchar(30) DEFAULT NULL,
  `ematerno` varchar(30) NOT NULL,
  `enombre` varchar(100) NOT NULL,
  `puestono` int DEFAULT NULL,
  `sexo` char(1) DEFAULT NULL,
  `fingreso` date DEFAULT NULL,
  `sueldo` smallint DEFAULT NULL,
  `deptono` smallint DEFAULT NULL,
  PRIMARY KEY (`empno`),
  KEY `deptono` (`deptono`),
  KEY `puestono` (`puestono`),
  CONSTRAINT `empleado_ibfk_1` FOREIGN KEY (`deptono`) REFERENCES `depto` (`deptono`) ON UPDATE CASCADE,
  CONSTRAINT `empleado_ibfk_2` FOREIGN KEY (`puestono`) REFERENCES `puesto` (`puestono`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleado`
--

LOCK TABLES `empleado` WRITE;
/*!40000 ALTER TABLE `empleado` DISABLE KEYS */;
/*!40000 ALTER TABLE `empleado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estado`
--

DROP TABLE IF EXISTS `estado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estado` (
  `estadono` smallint NOT NULL DEFAULT '0',
  `enombre` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`estadono`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estado`
--

LOCK TABLES `estado` WRITE;
/*!40000 ALTER TABLE `estado` DISABLE KEYS */;
INSERT INTO `estado` VALUES (1,'AGUASCALIENTES'),(2,'BAJA CALIFORNIANORTE'),(3,'BAJA CALIFORNIA SUR'),(4,'CAMPECHE'),(5,'COAHUILA'),(6,'COLIMA'),(7,'CHIAPAS'),(8,'CHIHUAHUA'),(9,'DISTRITO FEDERAL'),(10,'DURANGO'),(11,'GUANAJUATO'),(12,'GUERERO'),(13,'HIDALGO'),(14,'JALISCO'),(15,'MEXICO'),(16,'MICHOACAN'),(17,'MORELOS'),(18,'NAYARIT'),(19,'NUEVO LEON'),(20,'OAXACA'),(21,'PUEBLA'),(22,'QUERETARO'),(23,'QUINTANA ROO'),(24,'SAN LUIS POTOSI'),(25,'SINALOA'),(26,'SONORA'),(27,'TABASCO'),(28,'TAMAULIPAS'),(29,'TLAXCALA'),(30,'VERACRUZ'),(31,'YUCATAN'),(32,'ZACATECAS');
/*!40000 ALTER TABLE `estado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `info_empleado`
--

DROP TABLE IF EXISTS `info_empleado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `info_empleado` (
  `empno` smallint DEFAULT NULL,
  `curp` varchar(18) DEFAULT NULL,
  `calle` varchar(80) DEFAULT NULL,
  `colonia` varchar(40) DEFAULT NULL,
  `ciudad` varchar(40) DEFAULT NULL,
  `municipio` varchar(40) DEFAULT NULL,
  `estadono` smallint DEFAULT NULL,
  `cp` varchar(15) DEFAULT NULL,
  `email` varchar(40) DEFAULT NULL,
  `telefono` varchar(25) DEFAULT NULL,
  UNIQUE KEY `empno` (`empno`),
  CONSTRAINT `info_empleado_ibfk_1` FOREIGN KEY (`empno`) REFERENCES `empleado` (`empno`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `info_empleado`
--

LOCK TABLES `info_empleado` WRITE;
/*!40000 ALTER TABLE `info_empleado` DISABLE KEYS */;
/*!40000 ALTER TABLE `info_empleado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `puesto`
--

DROP TABLE IF EXISTS `puesto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `puesto` (
  `puestono` int NOT NULL AUTO_INCREMENT,
  `pnombre` varchar(30) NOT NULL,
  PRIMARY KEY (`puestono`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `puesto`
--

LOCK TABLES `puesto` WRITE;
/*!40000 ALTER TABLE `puesto` DISABLE KEYS */;
INSERT INTO `puesto` VALUES (1,'VENDEDOR'),(2,'PROMOTOR'),(3,'CAJERO'),(4,'DIRECTOR'),(5,'GERENTE'),(6,'CONTADOR'),(7,'ANALISTA'),(8,'SUPERVISOR'),(9,'DESARROLLADOR'),(10,'AUDITOR'),(11,'LIDER DE PROYECTO'),(12,'MENSAJERO'),(13,'PORTERO'),(15,'SIN PUESTO');
/*!40000 ALTER TABLE `puesto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarjeta`
--

DROP TABLE IF EXISTS `tarjeta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tarjeta` (
  `cuentano` varchar(11) DEFAULT NULL,
  `tarjeta` varchar(16) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarjeta`
--

LOCK TABLES `tarjeta` WRITE;
/*!40000 ALTER TABLE `tarjeta` DISABLE KEYS */;
/*!40000 ALTER TABLE `tarjeta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tienda`
--

DROP TABLE IF EXISTS `tienda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tienda` (
  `tiendano` smallint NOT NULL DEFAULT '0',
  `tipo` varchar(20) NOT NULL DEFAULT '',
  `tnombre` varchar(30) NOT NULL DEFAULT '',
  PRIMARY KEY (`tiendano`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tienda`
--

LOCK TABLES `tienda` WRITE;
/*!40000 ALTER TABLE `tienda` DISABLE KEYS */;
/*!40000 ALTER TABLE `tienda` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-02-10 12:47:18
