-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: credito
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `empleado`
--

DROP TABLE IF EXISTS `empleado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empleado` (
  `empno` smallint NOT NULL DEFAULT '0',
  `epaterno` varchar(30) DEFAULT NULL,
  `ematerno` varchar(30) NOT NULL,
  `enombre` varchar(100) NOT NULL,
  `puestono` int DEFAULT NULL,
  `sexo` char(1) DEFAULT NULL,
  `fingreso` date DEFAULT NULL,
  `sueldo` smallint DEFAULT NULL,
  `deptono` smallint DEFAULT NULL,
  PRIMARY KEY (`empno`),
  KEY `deptono` (`deptono`),
  KEY `puestono` (`puestono`),
  CONSTRAINT `empleado_ibfk_1` FOREIGN KEY (`deptono`) REFERENCES `depto` (`deptono`) ON UPDATE CASCADE,
  CONSTRAINT `empleado_ibfk_2` FOREIGN KEY (`puestono`) REFERENCES `puesto` (`puestono`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleado`
--

LOCK TABLES `empleado` WRITE;
/*!40000 ALTER TABLE `empleado` DISABLE KEYS */;
/*!40000 ALTER TABLE `empleado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `puesto`
--

DROP TABLE IF EXISTS `puesto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `puesto` (
  `puestono` int NOT NULL AUTO_INCREMENT,
  `pnombre` varchar(30) NOT NULL,
  PRIMARY KEY (`puestono`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `puesto`
--

LOCK TABLES `puesto` WRITE;
/*!40000 ALTER TABLE `puesto` DISABLE KEYS */;
INSERT INTO `puesto` VALUES (1,'VENDEDOR'),(2,'PROMOTOR'),(3,'CAJERO'),(4,'DIRECTOR'),(5,'GERENTE'),(6,'CONTADOR'),(7,'ANALISTA'),(8,'SUPERVISOR'),(9,'DESARROLLADOR'),(10,'AUDITOR'),(11,'LIDER DE PROYECTO'),(12,'MENSAJERO'),(13,'PORTERO'),(15,'SIN PUESTO');
/*!40000 ALTER TABLE `puesto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `depto`
--

DROP TABLE IF EXISTS `depto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `depto` (
  `deptono` smallint NOT NULL DEFAULT '0',
  `dnombre` varchar(30) DEFAULT NULL,
  `loc` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`deptono`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `depto`
--

LOCK TABLES `depto` WRITE;
/*!40000 ALTER TABLE `depto` DISABLE KEYS */;
INSERT INTO `depto` VALUES (1,'SISTEMAS','MEXICO'),(2,'CONTABILIDAD','MEXICO'),(3,'VENTAS','YUC'),(4,'ESPECIALES','TOLUCA'),(5,'PROMOCIONES','MEXICO'),(6,'CAJAS','MER'),(7,'ATENCION A CLIENTES','IXTA'),(8,'ALMACEN','MER'),(18,'ICO','MEXICO'),(19,'CIMA','MEXICO'),(110,'ICO','FES');
/*!40000 ALTER TABLE `depto` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-09 11:36:15
